html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

header {
  color: #444;
  font: 1.5rem arial;
  box-shadow: 0 0px 8px 0 rgba(0,0,0,.33);
  z-index: 2;
}

header h1 {
  padding: 1.2rem;
  font-family: courier;
  font-weight: 100;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

article {
  padding: 1.2rem;
}

h2 {  
  color: #555;
  font: 1.5rem Arial;
  flex: 1 100%;
  padding: 1rem 0 0.75rem;
  margin: 0;
}

select {
  display: block;
  width: 100%;
  padding: .5rem .75rem;

  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  transition: .3s all;
}

input {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  margin: .5rem 0;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: .3s all;
  cursor: pointer;
  color: #fff;
  background: #007bff;
}
input:hover {
  background: #0069d9;
}
input:active {
  background: #;
}